.chat-container {
  height: 100vh;
  width: 75%;
  background-color: var(--white);
  border-radius: 12px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.chat-header {
  border-bottom: 1px solid #ccc;
}

.messages-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-right: 3px;
}

.messages-list::-webkit-scrollbar {
  width: 6px;
}

.messages-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.messages-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.message-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
}

.message-left {
  background-color: #f1f1f1;
  align-self: flex-start;
  justify-self: end;
}

.message-right {
  background-color: #d1e7ff;
  align-self: flex-end;
  justify-self: start;
}

.message-input {
  justify-self: flex-end;
  width: 100%;
  display: flex;
}

.message-input input {
  width: 90%;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  font-size: 16px;
  background-color: var(--lg);
  margin-bottom: 10px;
}

.message-input input:focus {
  border: 1px solid #c5c5c5;
  outline: none;
  box-shadow: none;
}

.empty-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-send {
  background-color: var(--lg);
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  flex-grow: 1;
}
