.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 40px;
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.subtitle {
  font-size: 16px;
  color: #6b7280;
  margin: 0 0 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sign-in-button {
  width: 110%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 14px;
  color: #6b7280;
}

.sign-up-link {
  color: #3b82f6;
  text-decoration: none;
}
